<div class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="logo">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <nav class="nav-links">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/sobrenosotros" routerLinkActive="active"
        >Sobre nosotros</a
      >
      <a routerLink="/contactanos">Contactanos</a>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Contenido Principal-->
  <div class="container">
    <h1>Sobre Nosotros</h1>

    <section>
      <h2>Nuestra Misión</h2>
      <p>
        En "AdivinaLaPelícula", nos apasiona el cine en todas sus formas.
        Nuestra misión es crear una plataforma divertida y educativa donde los
        amantes del cine puedan disfrutar de juegos interactivos, participar en
        desafíos emocionantes y explorar rankings que reflejen su conocimiento
        cinéfilo.
      </p>
    </section>

    <section>
      <h2>¿Qué hacemos?</h2>
      <p>
        En "AdivinaLaPelícula nos especializamos en ofrecerte una experiencia
        única relacionada con el cine, incluyendo:
      </p>
      <ul>
        <li>
          <strong>Juegos Interactivos:</strong> Desde adivinar títulos famosos
          con pistas hasta identificar escenas icónicas, tenemos desafíos que
          pondrán a prueba tu conocimiento.
        </li>
        <li>
          <strong>Rankings y Competencias:</strong> Participa en nuestros
          rankings para demostrar tus habilidades y competir con otros
          cinéfilos.
        </li>
        <li>
          <strong>Contenido Actualizado:</strong> Mantenemos nuestra plataforma
          actualizada con las últimas noticias del mundo cinematográfico y
          recomendaciones de películas.
        </li>
      </ul>
    </section>

    <section>
      <h2>Nuestro Equipo</h2>
      <p>
        El equipo de "AdivinaLaPelícula" está compuesto por apasionados del cine
        y expertos en tecnología, comprometidos en proporcionarte la mejor
        experiencia cinéfila posible. Nos esforzamos por ofrecerte contenidos de
        calidad que enriquezcan tu amor por el cine y te mantengan entusiasmado
        con nuevas películas y curiosidades del mundo del entretenimiento.
      </p>
    </section>

    <section>
      <h2>Únete a Nosotros</h2>
      <p>
        Únete a nuestra comunidad en "AdivinaLaPelícula" y descubre el
        apasionante mundo del cine de una manera completamente nueva. Estamos
        aquí para hacer que cada visita sea emocionante y educativa, ya seas un
        aficionado casual o un experto en la materia. ¡Acompáñanos y deja que tu
        amor por el cine brille en cada juego y desafío!
      </p>
      <p>
        <strong
          >¡Gracias por ser parte de "AdivinaLaPelícula" y por compartir tu
          pasión por el cine con nosotros!</strong
        >
      </p>
    </section>
  </div>
</div>
<!--Fin Contenido Principal-->
<!--Inicio Footer-->
<footer class="footer">
  <div class="container-footer">
    <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
    <br />
    <ul class="footer-links">
      <li><a routerLink="/avisolegal">Aviso Legal</a></li>
      <li><a routerLink="/politicaprivacidad">Política de Privacidad</a></li>
      <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin Footer-->
