<div class="background">
    <div class="gradient"></div>
    <div class="gradient-2"></div>
  </div>
  <div class="scroller">
  <div class="container">
  <div class="movies">
    <div class="movie">
      <div style="background: #174e15; box-shadow: none"><span style="color: #fff">Alicia en el pais de las maravillas</span></div>
      <div style="background: #174e15; box-shadow: none"></div>
      <div style="background: #174e15; box-shadow: none"></div>
      <div style="background: #174e15; box-shadow: none"></div>
      <div style="background: #174e15; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/70/33/62/20122901.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #111; box-shadow: none"><span style="color: #fff">Annabelle</span></div>
      <div style="background: #111; box-shadow: none"></div>
      <div style="background: #111; box-shadow: none"></div>
      <div style="background: #111; box-shadow: none"></div>
      <div style="background: #111; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/14/08/28/11/22/474253.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: #fff">Avatar</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/Avatar-208925608-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">Batman Begins</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://images-0.rakuten.tv/storage/global-movie/translation/artwork/418e453a-476b-41f0-aad7-c7a03d2d9cd2-batman-begins-1611320643.jpeg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">Batman vs Superman: El amanecer de la justicia</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/16/03/04/15/47/480948.jpg')"></div>
    </div>
    <div class="movie">
      <div><span>Big Fish</span></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/dc9a2800-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">Carrie</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://images.justwatch.com/poster/10504636/s718/carrie-1976.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Charlie y la fabrica de chocolate</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/ae613700-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #d6b625; box-shadow: none"><span>Dioses de egipto</span></div>
      <div style="background: #d6b625; box-shadow: none"></div>
      <div style="background: #d6b625; box-shadow: none"></div>
      <div style="background: #d6b625; box-shadow: none"></div>
      <div style="background: #d6b625; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/16/01/19/13/48/490182.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">E.T., el extraterrestre</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/92/45/51/20200813.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #1c235e; box-shadow: none"><span style="color: white;">Eduardo Manostijeras</span></div>
      <div style="background: #1c235e; box-shadow: none"></div>
      <div style="background: #1c235e; box-shadow: none"></div>
      <div style="background: #1c235e; box-shadow: none"></div>
      <div style="background: #1c235e; box-shadow: none"></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/6d0b5200-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">El bosque</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://www.aceprensa.com/wp-content/uploads/2004/09/6947-0.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: white;">El caballero oscuro</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://play-lh.googleusercontent.com/5lk5daQ5ZekNS-iQtpONVDFjKn6GT2DtzY5vI-GLK852pJLMRFC2ik_BR9X8zntCiiGaQQ=w240-h480-rw')"></div>
    </div>
     <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">El cid</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://starsmydestination.files.wordpress.com/2021/02/el_cid-728264120-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El exorcista</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://www.mubis.es/media/articles/32618/318883/primeros-detalles-del-ultra-hd-blu-ray-de-el-exorcista-l_cover.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #2527a5; box-shadow: none"><span style="color: rgb(255, 255, 255);">El hombre bicentenario</span></div>
      <div style="background: #2527a5; box-shadow: none"></div>
      <div style="background: #2527a5; box-shadow: none"></div>
      <div style="background: #2527a5; box-shadow: none"></div>
      <div style="background: #2527a5; box-shadow: none"></div>
      <div style="background-image: url('https://m.media-amazon.com/images/S/pv-target-images/e2dd79cb42b64a6a214a6a0155327c28f5f37e5fd43b978764df57f80ce8ca85.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El laberinto del fauno</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://www.premiosgoya.com/wp-content/uploads/2016/01/El-laberinto-del-Fauno.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El padrino</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/18/06/12/12/12/0117051.jpg?coixp=49&coiyp=27')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El padrino 2</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://decine21.com/img/upload/obras/el-padrino-ii-3404/el-padrino-ii-3404-c.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #dd1717; box-shadow: none"><span style="color: rgb(255, 255, 255);">El planeta de los simios</span></div>
      <div style="background: #dd1717; box-shadow: none"></div>
      <div style="background: #dd1717; box-shadow: none"></div>
      <div style="background: #dd1717; box-shadow: none"></div>
      <div style="background: #dd1717; box-shadow: none"></div>
      <div style="background-image: url('https://www.ecartelera.com/carteles/5900/5992/001_m.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El pueblo de los malditos</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/95/79/37/20427897.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El señor de los anillos: La comunidad del anillo</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/89/67/45/20061512.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El señor de los anillos: Las dos torres</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://decine21.com/img/upload/obras/el-senor-de-los-anillos-las-dos-torres-1530/el-senor-de-los-anillos-las-dos-torres-1530-c.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">El señor de los anillos: El retorno del rey</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://www.cineycine.com/archivos/2013/11/el-retorno-del-rey-poster.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Expediente warren: The conjuring</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/4d8f1100-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Freddy VS Jason</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://m.media-amazon.com/images/M/MV5BODNlNWVjOTMtZjVjYy00MzRjLTg2MmQtNTM3MWVmZjFjYzgwXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_FMjpg_UX1000_.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #dfd32e; box-shadow: none"><span style="color: rgb(0, 0, 0);">Furia de Titanes</span></div>
      <div style="background: #dfd32e; box-shadow: none"></div>
      <div style="background: #dfd32e; box-shadow: none"></div>
      <div style="background: #dfd32e; box-shadow: none"></div>
      <div style="background: #dfd32e; box-shadow: none"></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/c7f61000-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Gremlins</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/85/63/70/20532247.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Halloween</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://www.ecartelera.com/carteles/7100/7122/001_m.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #2067c5; box-shadow: none"><span style="color: rgb(0, 0, 0);">Harry potter y la piedra filosofal</span></div>
      <div style="background: #2067c5; box-shadow: none"></div>
      <div style="background: #2067c5; box-shadow: none"></div>
      <div style="background: #2067c5; box-shadow: none"></div>
      <div style="background: #2067c5; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/14/04/30/11/55/592219.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #063314; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y la camara secreta</span></div>
      <div style="background: #063314; box-shadow: none"></div>
      <div style="background: #063314; box-shadow: none"></div>
      <div style="background: #063314; box-shadow: none"></div>
      <div style="background: #063314; box-shadow: none"></div>
      <div style="background-image: url('https://estaticos-cdn.prensaiberica.es/clip/ced50531-ff4c-4197-87dc-7e876825555d_alta-libre-aspect-ratio_default_0.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y el prisionero de azkaban</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://i.pinimg.com/originals/24/8e/54/248e54e8e52f8457fb88b212fe324caf.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #313131; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y el caliz de fuego</span></div>
      <div style="background: #313131; box-shadow: none"></div>
      <div style="background: #313131; box-shadow: none"></div>
      <div style="background: #313131; box-shadow: none"></div>
      <div style="background: #313131; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/14/04/30/11/29/268191.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #0d0d31; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y la orden del fenix</span></div>
      <div style="background: #0d0d31; box-shadow: none"></div>
      <div style="background: #0d0d31; box-shadow: none"></div>
      <div style="background: #0d0d31; box-shadow: none"></div>
      <div style="background: #0d0d31; box-shadow: none"></div>
      <div style="background-image: url('https://i.pinimg.com/originals/5f/a3/14/5fa3149957c6dc62384061d24b015ccc.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #3a3a3a; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y el misterio del principe</span></div>
      <div style="background: #3a3a3a; box-shadow: none"></div>
      <div style="background: #3a3a3a; box-shadow: none"></div>
      <div style="background: #3a3a3a; box-shadow: none"></div>
      <div style="background: #3a3a3a; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/67/05/06/19138964.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y las reliquias de la muerte: Parte 1</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/82/10/76/19599753.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Harry potter y las reliquias de la muerte: Parte 2</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/11/harry-potter-reliquias-muerte-parte-ii.jpg?tf=2048x')"></div>
    </div>
    <div class="movie">
      <div style="background: #dda234; box-shadow: none"><span style="color: rgb(255, 255, 255);">Hook</span></div>
      <div style="background: #dda234; box-shadow: none"></div>
      <div style="background: #dda234; box-shadow: none"></div>
      <div style="background: #dda234; box-shadow: none"></div>
      <div style="background: #dda234; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/14/05/05/12/27/038688.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Insidious</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://musicart.xboxlive.com/7/0d361100-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">It</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/17/04/07/12/58/197841.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #1c5215; box-shadow: none"><span style="color: rgb(255, 255, 255);">Jack, el cazagigantes</span></div>
      <div style="background: #1c5215; box-shadow: none"></div>
      <div style="background: #1c5215; box-shadow: none"></div>
      <div style="background: #1c5215; box-shadow: none"></div>
      <div style="background: #1c5215; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/95/50/94/20490936.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Jumanji</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://www.ecartelera.com/carteles/5200/5278/001_m.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Jurassic Park</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/Parque_Juraasico_Jurassic_Park-214895994-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Jurassic Park: El mundo perdido</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/El_mundo_perdido_Jurassic_Park-905605132-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #b9b7b7; box-shadow: none"><span style="color: rgb(0, 0, 0);">Jurassic Park 3</span></div>
      <div style="background: #b9b7b7; box-shadow: none"></div>
      <div style="background: #b9b7b7; box-shadow: none"></div>
      <div style="background: #b9b7b7; box-shadow: none"></div>
      <div style="background: #b9b7b7; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/Jurassic_Park_III_Parque_Juraasico_III-818382115-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #272ab3; box-shadow: none"><span style="color: rgb(255, 255, 255);">La ballena</span></div>
      <div style="background: #272ab3; box-shadow: none"></div>
      <div style="background: #272ab3; box-shadow: none"></div>
      <div style="background: #272ab3; box-shadow: none"></div>
      <div style="background: #272ab3; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/22/12/07/14/00/3913150.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La brujula dorada</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/14/02/18/11/53/529766.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #1c1e7e; box-shadow: none"><span style="color: rgb(255, 255, 255);">La historia interminable</span></div>
      <div style="background: #1c1e7e; box-shadow: none"></div>
      <div style="background: #1c1e7e; box-shadow: none"></div>
      <div style="background: #1c1e7e; box-shadow: none"></div>
      <div style="background: #1c1e7e; box-shadow: none"></div>
      <div style="background-image: url('https://images.justwatch.com/poster/163949210/s592/la-historia-interminable')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">La matanza de texas</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://imagenes.20minutos.es/files/image_640_auto/uploads/imagenes/2019/05/30/3039043.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La momia</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://images.justwatch.com/poster/304854046/s718/la-momia.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La mujer de negro</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/86/73/78/20019175.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">La naranja mecanica</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://www.entreletras.eu/wp-content/uploads/2019/08/001_m.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La niebla</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/66/67/50/20350697.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #2111b8; box-shadow: none"><span style="color: rgb(255, 255, 255);">La niñera magica</span></div>
      <div style="background: #2111b8; box-shadow: none"></div>
      <div style="background: #2111b8; box-shadow: none"></div>
      <div style="background: #2111b8; box-shadow: none"></div>
      <div style="background: #2111b8; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/14/02/27/10/30/308646.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #d8c244; box-shadow: none"><span style="color: rgb(0, 0, 0);">La princesa prometida</span></div>
      <div style="background: #d8c244; box-shadow: none"></div>
      <div style="background: #d8c244; box-shadow: none"></div>
      <div style="background: #d8c244; box-shadow: none"></div>
      <div style="background: #d8c244; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/19/07/03/16/08/2300654.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La profecia</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/87/15/88/19895646.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">La señal</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/89/90/10/20071905.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #158d1b; box-shadow: none"><span style="color: rgb(255, 255, 255);">Las cronicas de Spiderwick</span></div>
      <div style="background: #158d1b; box-shadow: none"></div>
      <div style="background: #158d1b; box-shadow: none"></div>
      <div style="background: #158d1b; box-shadow: none"></div>
      <div style="background: #158d1b; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/r_1280_720/medias/nmedia/18/64/48/91/18913961.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ff0000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Los chicos del maiz</span></div>
      <div style="background: #ff0000; box-shadow: none"></div>
      <div style="background: #ff0000; box-shadow: none"></div>
      <div style="background: #ff0000; box-shadow: none"></div>
      <div style="background: #ff0000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/92/53/30/20204975.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #236e19; box-shadow: none"><span style="color: rgb(255, 255, 255);">Mars Attack!</span></div>
      <div style="background: #236e19; box-shadow: none"></div>
      <div style="background: #236e19; box-shadow: none"></div>
      <div style="background: #236e19; box-shadow: none"></div>
      <div style="background: #236e19; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/68/00/63/20093805.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #969696; box-shadow: none"><span style="color: rgb(0, 0, 0);">Matrix</span></div>
      <div style="background: #969696; box-shadow: none"></div>
      <div style="background: #969696; box-shadow: none"></div>
      <div style="background: #969696; box-shadow: none"></div>
      <div style="background: #969696; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/r_1280_720/pictures/210/201/21020166_20130717110427461.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Multiple</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/16/11/30/17/12/481084.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Muñeco Diabolico</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/12/muneco-diabolico.jpg?tf=2048x')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Muñeco Diabolico 2</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/210/469/21046978_20131004235034227.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Muñeco Diabolico 3</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/91/04/04/20126775.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Oz, un mundo de fantasia</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/15/12/03/17/55/171277.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Pesadillas antes de Navidad</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/14/03/25/13/39/547671.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Pesadillas en elm street</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/77/67/55/19757706.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #131b92; box-shadow: none"><span style="color: rgb(255, 255, 255);">Ready Player One</span></div>
      <div style="background: #131b92; box-shadow: none"></div>
      <div style="background: #131b92; box-shadow: none"></div>
      <div style="background: #131b92; box-shadow: none"></div>
      <div style="background: #131b92; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/Ready_Player_One-508487059-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Regreso al futuro</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/r_1280_720/medias/nmedia/18/79/64/98/19512261.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Regreso al futuro 2</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/14/04/03/13/45/034916.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Regreso al futuro 3</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/pictures/14/04/28/11/11/012699.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Saw</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/89/75/36/20065254.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Saw 2</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/89/76/42/20065613.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Saw 3</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/89/73/03/20064127.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Silencio desde el mal</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/69/46/55/20251613.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Spider-Man</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/90/04/41/20078157.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Star wars Episodio 1: La amenaza fantasma</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/86/33/09/19835623.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Star wars Episodio 2: El ataque de los clones</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/90/04/31/20078125.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Star wars Episodio 3: La venganza de los sith</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/89/75/58/20065302.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Tron</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/TRON-524035754-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Tron: Legacy</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/TRON_Legacy-495421688-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #4516f0; box-shadow: none"><span style="color: rgb(255, 255, 255);">Un puente hacia Terabithia</span></div>
      <div style="background: #4516f0; box-shadow: none"></div>
      <div style="background: #4516f0; box-shadow: none"></div>
      <div style="background: #4516f0; box-shadow: none"></div>
      <div style="background: #4516f0; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img3.acsta.net/medias/nmedia/18/69/55/78/20056284.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Vengadores: EndGame</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/pictures/19/03/26/17/22/0896830.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Viernes 13</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://mx.web.img3.acsta.net/pictures/18/09/15/02/17/1660427.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #ffffff; box-shadow: none"><span style="color: rgb(0, 0, 0);">Willow</span></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background: #ffffff; box-shadow: none"></div>
      <div style="background-image: url('https://es.web.img2.acsta.net/medias/nmedia/18/82/00/27/20410202.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Yo, Robot</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/Yo_robot-536641702-large.jpg')"></div>
    </div>
    <div class="movie">
      <div style="background: #000000; box-shadow: none"><span style="color: rgb(255, 255, 255);">Zathura</span></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background: #000000; box-shadow: none"></div>
      <div style="background-image: url('https://pics.filmaffinity.com/zathura_a_space_adventure-921362698-large.jpg')"></div>
    </div>    
  </div>
  </div>
  </div>
  
  
  <div class="logo-wrapper">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="0 0 119 90">
      <style>
        #logo {
          overflow: visible;
        }
  
        #logo path:nth-child(2) {
          animation: logo-child-1 0.55s cubic-bezier(.23, 1.24, .8, 1.06);
        }
  
        #logo path:nth-child(3) {
          animation: logo-child-2 0.55s cubic-bezier(.23, 1.24, .8, 1.06);
        }
  
        #logo path:nth-child(4) {
          animation: logo-child-3 0.55s cubic-bezier(.23, 1.24, .8, 1.06);
        }
  
        #logo path:nth-child(5) {
          animation: logo-child-4 0.55s cubic-bezier(.23, 1.24, .8, 1.06);
        }
  
        #logo path:nth-child(6) {
          animation: logo-child-5 0.55s cubic-bezier(.23, 1.24, .8, 1.06);
        }
  
        @keyframes logo-child-1 {
          from {
            transform: translateX(100%);
          }
  
          to {
            transform: translateY(0%);
          }
        }
  
        @keyframes logo-child-2 {
          from {
            transform: translateY(-100%);
          }
  
          to {
            transform: translateY(0%);
          }
        }
  
        @keyframes logo-child-3 {
          from {
            transform: translateY(100%) translateX(-100%);
          }
  
          to {
            transform: translateY(0%) translateX(0%);
          }
        }
  
        @keyframes logo-child-4 {
          from {
            transform: translateY(100%);
          }
  
          to {
            transform: translateY(0%);
          }
        }
  
        @keyframes logo-child-5 {
          from {
            transform: translateY(-100%);
          }
  
          to {
            transform: translateY(0%);
          }
        }
      </style>
    </svg>
  </div>
