.background-image {
  background-image: url("../../assets/fondos/fondojuegos.jpg");
  background-size: 100% 100%;
  height: 100%;
  background-attachment: scroll;
  overflow: auto;
}

h1,
label {
  color: white;
}

.container {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.altoimagen {
  height: 300px;
  width: 600px;
}

.img-intento {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
}

button {
  margin-right: 15px;
}

img {
  max-width: 100%;
  height: auto;
  width: 80px;
  margin-left: 10px;
}

.header {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.left-content {
  flex: 1;
  text-align: left;
}

.center-content {
  flex: 2;
}

.right-content {
  flex: 1;
  text-align: right;
}

.dropdown-menu {
  position: absolute;
  right: 15px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  min-width: 150px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  top: 16.4%;
}

.dropdown-menu.show {
  background-color: #f0f0f0;
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
}

@keyframes dropdownShowAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownHideAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.hide {
  display: block;
  animation: dropdownHideAnimation 0.3s ease-in-out forwards;
}

.dropdown-menu.show {
  display: block;
  animation: dropdownShowAnimation 0.3s ease forwards;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  margin-top: auto;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.animate-left {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.animate-right {
  transition: transform 0.2s ease-in-out;
  transform: translateX(200%);
}

.animate-enter-left {
  animation: entradaDesdeIzquierda 0.5s ease-in-out;
}

@keyframes entradaDesdeIzquierda {
  from {
    transform: translateX(-180%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .background-image {
    background-size: 100% 100%;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .right-content {
    order: -1;
    text-align: center;
    padding-top: 10px;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: static;
    display: none;
    max-height: none;
    opacity: 1;
    padding: 10px 0;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdown-menu.show {
    display: block;
    margin-top: 5px;
    border-top: 1px solid #ccc;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    padding: 10px 0;
  }

  .footer {
    font-size: 0.75rem;
  }

  .footer-links li {
    display: block;
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 5px;
  }

  .right-content {
    order: -1;
    text-align: center;
    padding-top: 10px;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: static;
    display: none;
    max-height: none;
    opacity: 1;
    padding: 10px 0;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdown-menu.show {
    display: block;
    margin-top: 5px;
    border-top: 1px solid #ccc;
  }

  .nav-links a {
    padding: 5px 0;
  }

  .footer {
    padding: 10px 5px;
  }

  .footer-links li {
    margin-right: 5px;
  }
}
