<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="text-center mt-5">Lamentamos que quiera marcharse</h1>
        <form
          (ngSubmit)="borrarusuario()"
          [formGroup]="newusuarioForm"
          autocomplete="off"
        >
          <!--Creamos un formulario para borrar el registro de la base de datos-->
          <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduce tu usuario"
              name="borrusuario"
              formControlName="Nombre"
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduce tu correo"
              name="borrcorreo"
              formControlName="Correo"
            />
          </div>
          <br />
          <input
            type="submit"
            class="btn btn-primary"
            id="borrar"
            name="borrar"
            value="Borrar"
          />
        </form>
        <br />
      </div>
    </div>
  </div>
  <div class="nav-container">
    <button
      class="menu-toggle"
      [class.active]="menuActive"
      (click)="toggleMenu()"
    >
      ☰
    </button>
    <nav [class.active]="menuActive">
      <ul class="nav nav d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio"> Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro">
            Aún no estoy registrado
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actualizar"> Actualizar datos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dosjugadores">
            Modo dos jugadores
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
