<div class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="logo">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <nav class="nav-links">
      <a routerLink="/actualizar" routerLinkActive="active">Actualizar datos</a>
      <a routerLink="/eleccion" routerLinkActive="active">Juegos</a>
      <a routerLink="/borrar" routerLinkActive="active">Borrar cuenta</a>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Contenido principal-->
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="text-center mt-5">Lamentamos que quiera marcharse</h1>
        <form
          (ngSubmit)="borrarusuario()"
          [formGroup]="newusuarioForm"
          autocomplete="off"
        >
          <!--Creamos un formulario para borrar el registro de la base de datos-->
          <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input
              type="text"
              class="form-control readonly-input"
              placeholder="Introduce tu usuario"
              name="borrusuario"
              formControlName="Nombre"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduce tu correo"
              name="borrcorreo"
              formControlName="Correo"
            />
          </div>
          <br />
          <input
            type="submit"
            class="btn btn-primary"
            id="borrar"
            name="borrar"
            value="Borrar"
            (click)="borrarusuario()"
            (click)="irAInicio()"
            style="margin-right: 20px"
          />
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleCookieValue()"
            *ngIf="sessionCookie2"
          >
            Cambiar Usuario
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
<!--Fin contenido principal-->
<!--Inicio Footer-->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
    <br />
    <ul class="footer-links">
      <li><a routerLink="/avisolegal">Aviso Legal</a></li>
      <li><a routerLink="/politicaprivacidad">Política de Privacidad</a></li>
      <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin Footer-->
