<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="text-center mt-5">Lamentamos que quiera marcharse</h1>
        <form
          (ngSubmit)="borrarusuario()"
          [formGroup]="newusuarioForm"
          autocomplete="off"
        >
          <!--Creamos un formulario para borrar el registro de la base de datos-->
          <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input
              type="text"
              class="form-control readonly-input"
              placeholder="Introduce tu usuario"
              name="borrusuario"
              formControlName="Nombre"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduce tu correo"
              name="borrcorreo"
              formControlName="Correo"
            />
          </div>
          <br />
          <input
            type="submit"
            class="btn btn-primary"
            id="borrar"
            name="borrar"
            value="Borrar"
            (click)="borrarusuario()"
            (click)="irAInicio()"
            style="margin-right: 20px"
          />
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleCookieValue()"
            *ngIf="sessionCookie2"
          >
            Cambiar Usuario
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
  <div class="text-center">
    <a
      routerLink="/eleccion"
      style="cursor: pointer; color: white"
      (mouseover)="cambiarColor('red')"
      (mouseout)="cambiarColor('white')"
      >Juegos</a
    >
    |
    <a routerLink="/actualizar">Actualizar Datos</a>
  </div>
</div>
