.background-image {
  //Añadimos el fondo a traves de una clase
  background-image: url("../../assets/fondos/fondologin.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

h1,
h2,
label,
a {
  //Aplicamos el color blanco a las siguientes etiquetas
  color: white;
}

a:hover{
  color: red;
}


body {
  //declaramos el margen y el padding del body en 0
  margin: 0;
  padding: 0;
}

.container {
  //Le damos una altura al contenedor a tarves de una clase
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//Response para la imagen de fondo
@media (max-width: 1200px) {
  .background-image {
    background-size: 100% 100%;
  }
}