.background-image { //definimos la imagen de fondo
  background-image: url('../../assets/fondos/fondojuegos.jpg');
  background-size: 100% 100%;
  height: 135vh;
  background-attachment: scroll;
}

h1,label{ //especificamos el color blanco para las siguientes etiquetas
  color: white;
}

.container { //Posicionamos el div a traves de una clase
  position: relative;
  z-index: 1;
  height: 100%;
  margin-top: -50px;
}

  /* Estilos para el contenedor de imágenes */
  .image-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  /* Estilos para la imagen del icono utilizada para los intentos*/
  .img-intento {
    width: 30px; 
    height: 30px; 
    filter: invert(100%); 
    margin-right: 10px; 
    padding: 5px; 
  }