<div class="background-image">
    <div class="container">
        <h1 class='text-center mt-5'>Usuario: {{session}}</h1>
        <h1 class='text-center mt-5'>Intentos: {{intentos}}</h1>
        <h1 class='text-center mt-5'>Puntos: {{puntos}}</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mt-5" *ngIf="nombresPeliculas[numeroAleatorio]">{{ nombresPeliculas[numeroAleatorio].pregunta }}</h1>

                <div class="alert alert-info" role="alert" [hidden]="!mostrarPista">
                    <h4>Pista:</h4>
                    <p>
                        <!-- {{ pistaPregunta[0].Pista}} -->
                        {{ pistaPregunta && pistaPregunta.length > 0 ? pistaPregunta[0].Pista : '' }}

                    </p>
                </div><br>

                <button class="btn btn-primary mx-auto d-block" (click)="mostrarPista = !mostrarPista">Pista</button>
                <!--Añadimos el boton para mostrar la pista al hacer click en el con javascript-->

                <form autocomplete="off" class="mt-4">
                    <!--Creamos un formulario para que el usuario pueda responder-->
                    <div class="form-group colorajax">
                        <label for="respuesta">Introduce la respuesta</label>
                        <input id="respuesta" type="text" class="form-control" placeholder="Respuesta" name="respuesta">
                    </div>
                    <div class="text-center"><br>
                        <button type="submit" class="btn btn-primary" (click)="enviarRespuesta()" (click)="reiniciar()" (click)="seleccionarPalabraSecreta()">Comprobar</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    </div>
