<div class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="logo">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <nav class="nav-links">
      <a routerLink="/actualizar" routerLinkActive="active">Actualizar datos</a>
      <a routerLink="/eleccion">Juegos</a>
      <a routerLink="/borrar">Borrar cuenta</a>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Contenido principal-->
  <div class="container">
    <div class="row">
      <h1 class="text-center mt-5">Por favor, actualice sus datos</h1>
      <form
        (ngSubmit)="actualizarusuario()"
        [formGroup]="newusuarioForm"
        autocomplete="off"
      >
        <!-- Creamos el formulario para actualizar el registro -->
        <div class="form-group">
          <label for="nombre">Nombre de usuario:</label>
          <input
            type="text"
            class="form-control readonly-input"
            placeholder="Ponga su nombre de usuario para actualizar el correo y la contraseña"
            name="actnombre"
            formControlName="Nombre"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              placeholder="Introduce tu contraseña"
              name="contrasena"
              id="contrasena"
              formControlName="Passwrd"
            />
            <div class="input-group-append">
              <button
                type="button"
                class="mostrar-contrasena btn btn-primary rounded"
                data-id-contrasena="contrasena"
                (click)="toggleMostrarContrasena()"
              >
                Mostrar
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="correo">Correo:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Actualice el correo"
            name="actcorreo"
            formControlName="Correo"
          />
        </div>
        <div class="text-center">
          <br />
          <button
            type="submit"
            class="btn btn-primary"
            id="actualizar"
            name="actualizar"
            style="margin-right: 20px"
          >
            Actualizar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleCookieValue()"
            *ngIf="sessionCookie2"
          >
            Cambiar Usuario
          </button>
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
<!--Fin contenido principal-->
<!--Inicio Footer-->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
    <br />
    <ul class="footer-links">
      <li><a routerLink="/avisolegal">Aviso Legal</a></li>
      <li><a routerLink="/politicaprivacidad">Política de Privacidad</a></li>
      <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin Footer-->
