.background-image {
  //Añadimos el fondo a traves de una clase
  background-image: url("../../assets/fondos/fondoformularios.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

h1,
label,
a {
  //Aplicamos el color blanco a las siguientes etiquetas
  color: white;
}

a:hover{
  color: red;
}

//Response para la imagen de fondo
@media (max-width: 1200px) {
  .background-image {
    background-size: 100% 100%;
  }
}