<div>
  <div class="container">
    <h1
      class="text-center my-4"
      *ngIf="!juegoTerminadoAntesDeTiempo && (session || session2)"
    >
      El juego ha terminado
    </h1>
    <h1
      class="text-center my-4"
      *ngIf="!hayEmpate && !juegoTerminadoAntesDeTiempo && session && session2"
    >
      El ganador es: {{ usuarioConMasPuntos }}
    </h1>
    <h1 class="text-center my-4" *ngIf="juegoTerminadoAntesDeTiempo">
      El juego ha acabado antes de tiempo
    </h1>
    <h1
      class="text-center my-4"
      *ngIf="hayEmpate && !juegoTerminadoAntesDeTiempo"
    >
      Empate
    </h1>
    <h1 class="text-center my-4">¿Desea jugar otra vez o a otro juego?</h1>
    <div class="d-flex justify-content-center">
      <form method="post" class="d-flex flex-column">
        <!--Creamos el formulario para saber si queremos volver a jugar o no-->
        <input
          type="submit"
          class="btn btn-primary mb-2"
          id="SI"
          name="SI"
          value="SI"
          (click)="irAEleccion()"
        />
        <input
          type="submit"
          class="btn btn-secondary"
          id="NO"
          name="NO"
          value="NO"
          (click)="irAInicio()"
        />
      </form>
    </div>
    <br />
  </div>
</div>
