<div>
    <div class="container">
        <h1 class="text-center my-4">El juego ha terminado</h1> 
        <h1 class="text-center my-4">¿Desea volverlo a intentar?</h1>
        <div class="d-flex justify-content-center">
            <form method="post" class="d-flex flex-column">
                <!--Creamos el formulario para saber si queremos volver a jugar o no-->
                <input type="submit" class="btn btn-primary mb-2" id="SI" name="SI" value="SI" (click)="irAEleccion()">
                <input type="submit" class="btn btn-secondary" id="NO" name="NO" value="NO" (click)="irAInicio()">
            </form>
        </div>
        <!-- <div class="text-center"><br>
        <a href="../generadorPDF/generador2.php">Descargar pdf de los resultados</a>
        </div>
        <div class="d-flex justify-content-center my-5">
            <img src="../graficos/grafico1.php" alt="Gráfico de Porcentajes de Jugadas" class="mx-3">
            <img src="../graficos/grafico2.php" alt="Gráfico de Rankings" class="mx-3">
        </div>-->
    </div>  
</div>
