:host {
  display: block;
  background-image: url("../../assets/fondos/fin.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: auto;
}

h1 {
  //Especificamos que los h1 tengan el color blanco
  color: white;
}

//Especicamos las posiciones de los contenedores
.container {
  position: relative;
  z-index: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 10px;
}

/* Animación de graficos */
.fade-in {
  opacity: 0;
}

.fade-in.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

//Response para la imagen de fondo
@media (max-width: 1200px) {
  :host {
    background-size: 100% 100%;
  }
}
