.background-image {
  background-image: url("../../assets/fondos/fondologin.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 265vh;
}

img {
  max-width: 100%;
  height: auto;
  width: 80px;
  margin-left: 10px;
}

.header {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold;
}

.container {
  background-color: rgba(153, 153, 153, 0.568);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  margin: 30px auto 0;
  position: relative;
  z-index: 1;
}

.container h1 {
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-links li a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .background-image {
    background-size: 100% 100%;
    height: 350vh;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    padding: 10px 0;
  }

  .footer {
    font-size: 0.75rem;
  }

  .footer-links li {
    display: block;
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 5px;
  }

  .nav-links a {
    padding: 5px 0;
  }

  .footer {
    padding: 10px 5px;
  }

  .footer-links li {
    margin-right: 5px;
  }
}
