<div>
    <div class="container">
        <h1 class="text-center my-4">El juego ha terminado</h1>
        <h1 class="text-center my-4" *ngIf="!hayEmpate"> El ganador es: {{ usuarioConMasPuntos }}</h1>
        <h1 class="text-center my-4" *ngIf="hayEmpate"> Empate </h1>        
        <h1 class="text-center my-4">¿Desea jugar otra vez o a otro juego?</h1>
        <div class="d-flex justify-content-center">
            <form method="post" class="d-flex flex-column">
                <!--Creamos el formulario para saber si queremos volver a jugar o no-->
                <input type="submit" class="btn btn-primary mb-2" id="SI" name="SI" value="SI" (click)="irAElecciondosj()">
                <input type="submit" class="btn btn-secondary" id="NO" name="NO" value="NO" (click)="irAInicio()">
            </form>
        </div><br>

        <div class="button-container">
        <button class="btn btn-primary" (click)="toggleGrafica()">Mostrar gráfica de puntos</button>  
        <button class="btn btn-primary" (click)="toggleGrafica2()">Mostrar porcentaje de juegos jugados</button>
        <button class="btn btn-primary btn-fixed-bottom-center" (click)="guardarGraficos()">Descargar PDF</button>
        </div>

        <div class="graficas-contenedor">
            <div id="grafica1"></div>
            <div id="grafica2"></div>
        </div>
</div>
