:host {
  display: block;
  background-image: url("../../assets/fondos/fin.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: auto;
}

h1 {
  color: white;
}

//Especicamos las posiciones de los contenedores
.container {
  position: relative;
  z-index: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 10px;
}

.graficas-contenedor {
  display: flex;
}

#grafica1,
#grafica2 {
  flex: 1;
  margin-right: 10px; /* Ajusta el margen según tus necesidades */
}

/* Animación de graficos */
.fade-in {
  opacity: 0;
}

.fade-in.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

//Response para la imagen de fondo
@media (max-width: 1200px) {
  :host {
    background-size: 100% 100%;
  }
}

// Response para los gráficos
@media (max-width: 1200px) {
  .graficas-contenedor {
    flex-direction: column; // Cambiamos la dirección de flex a columna
  }

  #grafica1,
  #grafica2 {
    margin-right: 0; // Eliminamos el margen en pantallas más pequeñas
    margin-bottom: 10px; // Agregamos un margen inferior para separar los gráficos
  }
}
