.background-image {
  background-image: url('../../assets/fondos/fondojuegos.jpg');
  background-size: 100% 100%;
  height: 150vh;
  background-attachment: scroll;
}

h1,label{
  color: white;
}

.container {
  position: relative;
  z-index: 1;
  height: 100%;
  margin-top: -50px;
}

.altoimagen {
  height: 300px; /* Tamaño por defecto para la altura de la imagen */
  width: 600px;
}