.background-image {
    background-image: url('../../assets/fondos/fondojuegos.jpg');
    background-size: 100% 100%;
  }

  h1,label{
    color: white;
  }

  .container {
    position: relative;
    z-index: 1;
    height: 100%;
    margin-top: -50px;
  }