<div class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="logo">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <nav class="nav-links">
      <a routerLinkActive="active">Inicio</a>
      <a routerLinkActive="active">Sobre nosotros</a>
      <a routerLinkActive="active">Contactanos</a>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Contenido Principal-->
  <div class="container">
    <h1>Política de Cookies de "AdivinaLaPelícula"</h1>
    <h3>¿Qué son las cookies?</h3>
    <p>
      Las cookies son pequeños archivos de texto que se colocan en su
      dispositivo cuando visita un sitio web. Estas cookies pueden contener
      información, como preferencias de usuario, que el sitio web puede leer y
      usar más tarde durante su visita o en visitas futuras.
    </p>
    <h3>¿Cómo utilizamos las cookies?</h3>
    <p>Utilizamos cookies por varias razones, que incluyen, entre otras:</p>
    <ol>
      <li>
        <strong>Funcionalidad del sitio web:</strong> Utilizamos cookies para
        recordar sus preferencias de idioma y configuración para que no tenga
        que volver a configurarlas cada vez que visite nuestro sitio web.
      </li>
      <li>
        <strong> Análisis del sitio web:</strong> Utilizamos cookies para
        recopilar información sobre cómo los visitantes usan nuestro sitio web,
        qué páginas visitan con más frecuencia, y cómo interactúan con nuestro
        contenido. Esta información nos ayuda a mejorar la experiencia del
        usuario y a comprender mejor qué aspectos de nuestro sitio web son más
        populares.
      </li>
      <li>
        <strong> Publicidad personalizada:</strong> Podemos usar cookies para
        mostrarle anuncios personalizados en nuestro sitio web o en otros sitios
        web que visite, basados en sus intereses y comportamiento de navegación.
      </li>
    </ol>
    <h3>Tipos de cookies que utilizamos:</h3>
    <ol>
      <li>
        <strong> Cookies esenciales:</strong> Estas cookies son necesarias para
        el funcionamiento básico de nuestro sitio web y le permiten navegar por
        el sitio y utilizar sus funciones, como el acceso a áreas seguras.
      </li>
      <li>
        <strong> Cookies de rendimiento: </strong> Estas cookies recopilan
        información sobre cómo los visitantes usan nuestro sitio web, como qué
        páginas visitan con más frecuencia y si encuentran algún error. Esta
        información nos ayuda a mejorar el rendimiento de nuestro sitio web.
      </li>
      <li>
        <strong> Cookies de funcionalidad:</strong> Estas cookies permiten que
        nuestro sitio web recuerde las elecciones que usted hace (como su nombre
        de usuario, idioma o región) y proporcionan características mejoradas y
        más personalizadas.
      </li>
      <li>
        <strong> Cookies de publicidad:</strong> Estas cookies se utilizan para
        mostrar anuncios relevantes para usted y sus intereses. También pueden
        utilizarse para limitar la cantidad de veces que ve un anuncio y para
        medir la efectividad de una campaña publicitaria.
      </li>
    </ol>
    <h3>Cambios en esta política:</h3>
    <p>
      Nos reservamos el derecho de modificar esta Política de Cookies en
      cualquier momento. Cualquier cambio en esta política será publicado en
      esta página, por lo que le recomendamos que revise esta página
      periódicamente para estar al tanto de cualquier cambio. Los cambios
      entrarán en vigor inmediatamente después de su publicación en el sitio
      web.
    </p>
  </div>
</div>
<!--Fin Contenido Principal-->
<!--Inicio Footer-->
<footer class="footer">
  <div class="container-footer">
    <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
    <br />
    <ul class="footer-links">
      <li><a routerLink="/avisolegal">Aviso Legal</a></li>
      <li><a routerLink="/politicaprivacidad">Política de Privacidad</a></li>
      <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin Footer-->
