<div class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="left-content">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <div class="center-content">
      <p class="text-center">
        Intentos:
        <ng-container *ngFor="let _ of [].constructor(intentos); let i = index">
          <img
            [src]="'../../assets/icono/claquetaicon.png'"
            class="img-intento"
            alt="Intento {{ i + 1 }}"
          />
        </ng-container>
      </p>
      <p class="text-center">Puntos: {{ puntos }}</p>
    </div>
    <div class="right-content">
      <p class="dropdown-toggle" (click)="toggleDropdown()">
        Usuario: <span class="username">{{ usuariosession }}</span>
        <ng-container *ngIf="usuariosession2">
          y {{ usuariosession2 }}</ng-container
        >
      </p>
      <ul
        class="dropdown-menu"
        [ngClass]="{ show: isDropdownOpen, hide: !isDropdownOpen }"
      >
        <li><a routerLink="/actualizar">Actualizar Datos</a></li>
        <li><a routerLink="/borrar">Borrar Cuenta</a></li>
        <li>
          <a routerLink="/irAInicio" (click)="irAInicio()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </header>
  <!--Fin Header-->
  <!--Contenido principal-->
  <div class="container">
    <div
      class="row"
      [ngClass]="{
        'animate-left': showAnimation && !showAnimation,
        'animate-right': showAnimation,
        'animate-enter-left': !showAnimation
      }"
    >
      <h1 class="text-center mt-5">¿A qué película pertenece esta imagen?</h1>
      <div class="col-md-6 mx-auto">
        <img
          [src]="
            '../../assets/img/' + nombresPeliculas[numeroAleatorio].imagenes[0]
          "
          class="img-fluid altoimagen"
        />
        <!--Cogemos la imagen de la base de datos-->
        <form autocomplete="off" class="mt-4" ngForm>
          <div class="form-group colorajax">
            <label for="respuesta">Introduce la respuesta</label>
            <input
              id="respuesta"
              type="text"
              class="form-control"
              placeholder="Respuesta"
              name="respuesta"
              [formControl]="filtroTituloControl"
            />
            <label for="peliculaSelect">Titulos coincidentes</label>
            <select
              id="peliculaSelect"
              class="form-control"
              name="peliculaSelect"
              [disabled]="!titulosCoincidentes.length"
              (change)="seleccionarTitulo($event)"
              size="5"
            >
              <option value="" disabled>
                Selecciona la pelicula automáticamente
              </option>
              <option
                *ngFor="let titulo of titulosCoincidentes"
                [value]="titulo"
              >
                {{ titulo }}
              </option>
            </select>
          </div>
          <div class="text-center">
            <br />
            <button
              type="submit"
              class="btn btn-primary"
              (click)="enviarRespuesta()"
            >
              Comprobar
            </button>
            <button
              class="btn btn-secondary"
              type="button"
              (click)="borrarTexto()"
            >
              Borrar Respuesta
            </button>
            <button class="btn btn-dark" (click)="irAEleccion2()">
              Terminar juego
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Fin Contenido principal-->
  <!--Inicio Footer-->
  <footer class="footer">
    <div class="container-footer">
      <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
      <br />
      <ul class="footer-links">
        <li><a routerLink="/avisolegal">Aviso Legal</a></li>
        <li>
          <a routerLink="/politicaprivacidad">Política de Privacidad</a>
        </li>
        <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin Footer-->
</div>
