<div class="background-image">
<div class="container">
    <div class="btn-group" role="group" aria-label="Enlaces a juegos">
        <a class="btn btn-secondary" (click)="incrementarJugadasImagen()">Adivina la película a través de imágenes
            (Fácil)</a>
            <!-- routerLink="/juegoimagen" -->
        <a routerLink="/juegopregunta" class="btn btn-secondary">Adivina la película a través de preguntas
            (Normal)</a>
        <a routerLink="/juegomusica" class="btn btn-secondary">Adivina la película a través de su música
            (Difícil)</a>
    </div>
</div>
</div>
