.background-image {
    background-image: url('../../assets/fondos/fondoeleccion.jpg');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100vh; 
  }

 a{
    color: white;
  }