<!--Mensaje Cookies-->
<div *ngIf="showCookieConsent" class="cookie-consent-overlay">
  <div class="cookie-consent">
    <p>
      Utilizamos cookies propias y de terceros para obtener datos estadísticos
      de la navegación de nuestros usuarios y mejorar nuestros servicios. Si
      acepta o continúa navegando, consideramos que acepta su uso. Puede cambiar
      la configuración u obtener más información
      <a routerLink="/infocookie" class="azul">
        aquí (enlace a página de cookies).</a
      >
    </p>
    <button (click)="acceptCookies()">Aceptar</button>
    <button (click)="rejectCookies()">Rechazar</button>
  </div>
</div>
<!--Fin Mensaje cookies-->
<div [class.blurred]="showCookieConsent" class="background-image">
  <!--Inicio Header-->
  <header class="header">
    <div class="logo">
      <img
        src="../../assets/icono/AdivinaLapeliculaLogo.png"
        alt="ImagenlogoAdivinaLaPelicula"
        width="200"
        height="200"
      />
    </div>
    <nav class="nav-links">
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/sobrenosotros"
        >Sobre nosotros</a
      >
      <a routerLink="/contactanos">Contactanos</a>
      <a
        [routerLink]="tieneSesionActiva() ? '' : '/registro'"
        (click)="mostrarAlert()"
      >
        Registrarse
      </a>
      <a routerLink="/dosjugadores">Modo dos jugadores</a>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Contenido Principal-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 custom-div">
        <h1 class="text-center">Bienvenido a "AdivinaLaPelícula"</h1>
        <!--Creamos el formulario y mandamos los datos correspondientes-->
        <form
          (ngSubmit)="entradalogin()"
          [formGroup]="newloginForm"
          *ngIf="!isLoggedIn"
          class="formulariologin"
          autocomplete="off"
        >
          <!--Creamos el formulario-->
          <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduce tu nombre de usuario"
              name="usuario"
              required
              formControlName="Nombre"
              [ngClass]="{
                'readonly-input':
                  nombre && nombre.value === sessionValue && sessionValue !== ''
              }"
              [value]="nombre?.value || sessionValue"
              [readonly]="sessionValue !== ''"
            />
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                placeholder="Introduce tu contraseña"
                name="contrasena"
                id="contrasena"
                required
                formControlName="Passwrd"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="mostrar-contrasena btn btn-primary rounded"
                  data-id-contrasena="contrasena"
                  (click)="toggleMostrarContrasena()"
                >
                  Mostrar
                </button>
              </div>
            </div>
          </div>
          <div class="text-center botones-container">
            <br />
            <input
              type="submit"
              class="btn btn-primary btn-block"
              id="iniciar"
              name="iniciar"
              [value]="isSessionActive ? 'Acceder' : 'Iniciar Sesión'"
            />
            <input
              type="submit"
              class="btn btn-danger btn-block cerrarSesion"
              id="cerrar"
              name="cerrar"
              value="Cerrar Sesión"
              *ngIf="tieneSesionActiva()"
              (click)="cerrarSesion()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Fin contenido principal-->
<!--Inicio Footer-->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Todos los derechos reservados - AdivinaLaPelicula</p>
    <br />
    <ul class="footer-links">
      <li><a routerLink="/avisolegal">Aviso Legal</a></li>
      <li><a routerLink="/politicaprivacidad">Política de Privacidad</a></li>
      <li><a routerLink="/terminosservicios">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin Footer-->
